main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
}
.row {
  display: flex;
  flex-direction: row;
  border-left: 2px solid black;
  border-right: 2px solid black;
  /* border-bottom: 1px solid lightgrey; */
}

.row ul {
  display: flex;
  flex-direction: row;
}
.cell {
  width: 50px;
  height: 50px;
  border: 1px solid lightgrey;
  text-align: center;
  vertical-align: middle;
  font-size: 44px;
}

.fixed {
  font-weight: bold;
  color: grey;
}

.mutable {
}

.sub-row {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.row-3,
.row-6 {
  border-top: 2px solid black;
}

.row-0 {
  border-top: 3px solid black;
}

.row-8 {
  border-bottom: 3px solid black;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: ghostwhite; */
  margin: 15px;
}

header > * {
  padding: 5px;
  margin: 5px;
}
.add-num {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.add-num__button {
  padding: 3px 8px;
  border-radius: 3px;
  border: 1px solid black;
}

.solution-div {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.selected {
  background-color: red;
}

.mutable:hover {
  background-color: lightblue;
}

.reset,
.check,
.weather,
.add-num__button {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, */
  /* 1px 1px 0 #fff; */
  width: max-content;
  background-color: white;
  border-radius: 3px;
}

.title-desc {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.add-num__button {
  padding: 5px 10px;
}

.reset:hover,
.check:hover,
.weather:hover,
.add-num__button:hover {
  background-color: lightgrey;
}

.instructions {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.solved-status {
  text-align: center;
  padding-top: 12px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.github-link {
  text-decoration: underline;
  color: darkslateblue;
}
.github-link:hover {
  color: dimgrey;
}

.title {
  text-align: center;
  font-family: "Courgette", cursive;
  font-size: 36px;
  padding: 5px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.thunderstorm {
  background-image: url("../images/thunderstorm.jpg");
}

.drizzle {
  background-image: url("../images/drizzle.jpg");
}

.rain {
  background-image: url("../images/rain.jpg");
}

.snow {
  background-image: url("../images/snow.jpg");
}

.clear {
  background-image: url("../images/clear.jpg");
}

.hazy {
  background-image: url("../images/hazy.jpg");
}

.cloudy {
  background-image: url("../images/cloudy.jpg");
}

.extreme {
  background-image: url("../images/extreme.jpg");
}

.breezy {
  background-image: url("../images/breezy.jpg");
}

.portfolio,
.portfolio-by {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.portfolio:hover {
  text-decoration: underline;
  color: darkgrey;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.personal-links__angel {
  width: auto;
  height: 50px;
}
.personal-links__linkedin,
.personal-links__github {
  width: 50px;
}

.personal-links__linkedin:hover,
.personal-links__github:hover,
.personal-links__angel:hover {
  filter: invert(40%);
  /* background-color: black; */
}

.personal-links {
  width: 500px;
  display: flex;
  flex-direction: row;
  color: black;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
